.git
.gitignore
.env
.env.docker
node_modules
vendor
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
public/hot
*.md
docker-compose.yml
docker-compose*.yml
Dockerfile
.dockerignore
tests
